<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>
<main id="xyz">
    <div id="about">
      <h1 id="display-5">Welcome to the <%= title %> page</h1>
      
      <center> <h2>Saim Ali </h2> </center>
      <br>
     </div>
      <div id="images">
               <img src="Assets\images\mypic.jpeg" width="300" height="250"> 
       </div>
    <br>
    <div id="detail">
    <p> My name is Saim Ali. I am from Pakistan. I was born and raised in Gujranwala, Pakistan. I am in software Engineering Technician student at Centennial College of Sample Computer Science.
I did senior schooling from Simra Academy,Canada.
I like to travel. I believe travelling gives you a new perspective to everything. You get to know a lot about the different cultures, the cuisines, their history, the language and all the small unique things every place has to offer. </p>
    <p> Click on the link for the <a href="Assets\Resume.docx"> Resume </a> </p>
     <br><br> <br><br>
    </div>
  </main> 


<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%> 