<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>

  
   <!--Main Content-->
  <main id="main">
    <div id="A">
      <h1 id="display-5">Welcome to the <%= title %> page</h1>
      <br><br>
     <h3>  Welcome everyone to my Personal Homepage.</h3>
<p>This is something like my virtual presence.

I am really happy to know that you dropped by my webpage to know more about me. You can click here to know more about me <a href="/about"> About </a>


<h3>Mission</h3><br>
A computer science student passionate about programming and design.<br>
I am interested in working for a company that would make utilization of my potential.
<br>I am open to work from any location. 
      
      
      </p>
 <br><br> <br><br> <br><br>

    </div>
   
  </main>    

 <%- include partials/bottom_nav.ejs%>

 <%- include partials/footer.ejs%> 





