<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>



<main id="pro">
    <div id="jects">
      <h1 id="display-5">Welcome to the <%= title %> page</h1>
      
     
    </div>
 
      <h3> Project I.</h3><br><br>
        <img src="Assets\images\dealership.png" width="400" height="300" class="center">
        <p >Last semester, I finished a short project that can be used as a component in the creation of a professional  dealership car company website. This website is a dealership car website that I created. To create the website, I used the html, css, and javascript languages, as well as a json file to import the images.</p>
      
        <h3>Project II.</h3><br><br>
        <img src="Assets\images\gallery.jpeg" width="400" height="300" class="center">  
        <p >Last semester, I created a picture gallery that the viewer can navigate through using the next and previous buttons. The photos will be automatically changed without the user pressing the next and previous buttons, and we may update the images with the update button.</p> 
      
       <h3> Project III.</h3><br><br>
        <img src="Assets\images\game.png" width="400" height="300" class="center">
        <p >We were given an assignment last semester to create a bug smasher game website. When a user clicks on a defect in this project, the score increases by 5, and the speed of bug relocation increases with each click. We used html, css, javascript, and jquery in our short game. </p>   
      
        


  </main> 




<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%> 