<%- include partials/header.ejs%>


<%- include partials/main_nav.ejs%>


<main id="ser">
    
      <h1 id="display-5">Welcome to the <%= title %> page</h1>
      
     
    
        <h3>Service I.</h3><br><br>
        <img src="Assets\images\ios.jpeg"width="400" height="280" class="center"><br>
        <p >I have experience about iOS developers design and build applications for mobile devices running Apple's iOS operating software. They are responsible for designing and coding the base application, ensuring the quality of the application, fixing application bugs, maintaining the code, and implementing application updates.</p>
        <h3>Service II.</h3<br><br>
        <img src="Assets\images\Data.png" width="400" height="280" class="center"> <br> 
        <p >I have knowledge about data Services that i can provide with the standard database support package include: Initial database software installation, including configuration and verification as required
 Performance of daily or weekly backups to disk, as requested by customer
Management and monitoring of disk space</p>
        <h3>Service III.</h3><br><br>
        <img src="Assets\images\C.png"width="400" height="280" class="center">   <br>
        <p >I can provide web application development services at a reasonable cost based on your budget. I am proficient in the programming languages c#, python, and c++. So, simply fill out the contact form with the details of the application you want me to create for you.</p>

<br><br><br><br>



  </main> 



<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%> 